/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* My Style  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.gallery {
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 24px auto;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.basicLightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.ref {
  display: flex;
  flex-direction: row;
  margin-top: 168px;
  justify-content: center;
  align-items: center;
  gap: 56px
}

.ref-gallery, .ref-form {
   padding: 8px 32px;
  border: 1px solid;
  border-radius: 8px;
  background-color: rgb(214, 218, 219);
}
 /* form */
 
.feedback-form {
  max-width: 408px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
}

.feedback-form label {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input, .feedback-form textarea {
  min-width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  background-color: #4e75ff;
  color: #fff;
  border: none;

}

button:hover {
  background-color: #6c8cff;
}